@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");
@import "tailwindcss";

@theme {
	--font-roboto: Roboto, sans-serif;
	--font-m-plus-rounded: "M PLUS Rounded 1c", sans-serif;
	--font-ubuntu: Ubuntu, sans-serif;

	--animate-hue-rotate: hue-rotate 10s linear infinite;
	@keyframes hue-rotate {
		0%,
		100% {
			filter: hue-rotate(0deg);
		}
		50% {
			filter: hue-rotate(360deg);
		}
	}
}
